.header {
  display: flex;
  justify-content: space-between;

  color: #fff;

  & > div {
    display: flex;
    align-items: center;
  }
  .logo,
  .mr20 {
    margin-right: 20px;
  }
}

.contentWrap {
  background: #fff;
  min-height: calc(100vh - 64px - 24px);
  padding: 10px 24px 24px;
  margin: 0;
}
