.header {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 0 30px;
  color: #fff;

  & > div {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 44px;
  }
}

.contentWrap {
  background: #fff;
  min-height: calc(100vh - 64px - 24px);
  padding: 10px 24px 24px;
  margin: 0;
}
