@import "../../common.less";

.ctNav {
  display: flex;
  flex-direction: column;
  width: 15%;
  min-width: 180px;
  font-size: 16px;
  background-color: #fff;
  border-right: 1px solid #ccc;

  .ctNavItem {
    color: @bodyTextColor;
    background-color: #000;
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
    cursor: pointer;

    .iconfont {
      margin-right: 5px;
    }

    &:hover,
    &.cur {
      color: @mainTextColor;
      background-color: #282d3a;
    }
    &.cur {
      border-right: 3px solid @mainGreen;
    }
  }
}
